.project {
    display: grid;
    grid-template-columns: 30rem max-content;
    column-gap: 7rem;
    margin-bottom: 7rem;

    @media (min-width: 1100px) {
        &:nth-child(even) {
            margin-left: 10%;
        }
    }

    @media (max-width: 1000px) {
        column-gap: 5rem;
    }

    @media (max-width: 900px) {
        grid-template-columns: 20rem 1fr;
    }

    @media (max-width: 750px) {
        grid-template-columns: 10rem 1fr;
        column-gap: 3rem;
    }

    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }
}

.image {
    height: 20rem;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
    box-shadow: var(--shadow);
    font-size: 7.5rem;
    color: #ffffff;
    user-select: none;

    @media (max-width: 750px) {
        height: 10rem;
        font-size: 4rem;
    }

    @media (max-width: 650px) {
        width: 7rem;
        height: 7rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    @media (max-width: 550px) {
        justify-self: center;
        margin-bottom: 1rem;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;

    @media (max-width: 550px) {
        text-align: center;
        line-height: 1;
        margin: 1rem 0;
    }
}

.description {
    color: #EDEDED;
    font-size: 2rem;
    line-height: 1.1;
    padding: 0.15rem 0;
    max-width: 30vw;

    @media (max-width: 1000px) {
        max-width: 50vw;
    }

    @media (max-width: 550px) {
        max-width: unset;
        text-align: center;
    }
}

.buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: left;

    @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
    }
}
